* {
	margin: 0;
	padding: 0;
	/*outline: 1px solid orange;*/
}

body {
	font-family: Verdana;
	color: #d4d4d4;
	font-size: 14px;
	background: #222222;
}

a {
	color: #d4d4d4;
	text-decoration: none;
}

a:hover {
	color: #ffcb06;
}

.main {
	width: 1280px;
	margin: 0 auto;
}

header {
	background: #222222;
	padding: 55px 160px 125px 160px;
}

ul {
	list-style-type: none;
}

nav {
	display: flex;
	justify-content: space-between;
}

nav ul {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 70px;
}

.nav-li {
	margin-right: 30px;
}

.mail-icon {
	margin-right: 25px;
}

.header-moon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.header-left {
	margin-left: 130px;
}

.header-left h1 {
	font-family: "Courier New";
	font-weight: bold;
	font-size: 45px;
	color: #ffffff;
	margin-bottom: 60px;
}

.header-left p {
	margin-bottom: 60px;
}

.button-header {
	width: 240px;
	height: 50px;
	background: #ffcb06;
	border: none;
	border-radius: 35px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.button-header span {
	font-weight: bold;
}

.button-header:hover {
	background: #d4d4d4;
}

.advantages {
	padding: 80px 160px 80px 160px;
	background: #131313;
	display: flex;
	justify-content: space-between;
}

.advantages p {
	margin-top: 40px;
}


.content-bottom {
	display:flex;
	align-items:flex-start;
	flex-wrap: wrap;
	background:#ffffff;
	color: #222222;
	padding: 80px 160px 80px 160px;
}
.content-ul {
	font-family: Verdana;
	font-size: 14px;
	margin-left: 80px;
}
.content-h1 {
	font-family: "Courier New";
	margin-left: 80px;
	margin-bottom: 40px;
}
.content-h1-1 {
	font-family: "Courier New";
	
	margin-top: 60px;
}
.cobra{
	
}
.content-ul-li{
	margin-bottom: 30px;
}